{% extends 'layout.html' %}
{% load static %}
{% block banner_area %}

<!--================Home Banner Area =================-->
<section class="home_banner_area">
    <div class="container box_1620 white-space:no-wrap" style="bottom: -150px;">
        <div class="banner_inner d-flex align-items-center">
            <div class="banner_content">
                <div class="media">
                    <div class="d-flex">
                        <img src="{{ home_banner_image.url }}" alt=""
                             style="width: 100%; height:400px; max-width: 500px">
                    </div>
                    <div class="media-body">
                        <div class="personal_text">
                            <h6>Hello Everybody, i am</h6>
                            <h3>{{ home_banner_title }}</h3>
                            <h4>{{ home_banner_job }}</h4>
                            <p>{{ home_banner_description }}</p>
                            <ul class="list basic_info ">
                                <li><a href="mailto:zeynepakbalikk@gmail.com"><i class="lnr lnr-envelope"></i>zeynepakbalikk@gmail.com</a>
                                </li>
                                <li><a href="javascript:void(0)"><i class="lnr lnr-home"></i>Umranıye, Turkey</a></li>
                            </ul>
                            <ul class="list personal_social">
                                {% for social_meadia in social_medias %}
                                <li><a href="{{ social_meadia.url }}" target="_blank"><i
                                        class="{{ social_meadia.icon }}"></i></a></li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
{% endblock %}


{% block content %}

<!--================Welcome Area =================-->

<section class="welcome_area p_120 pb-3">
    <div class="container">
        <div class="row welcome_inner mb-5">
            {% for skill in skills %}
            <div class="col-md-3">
                <div class="tools_expert">
                    <div class="skill_main">
                        <div class="skill_item">
                            <h4>
                                {{ skill.name }} <span
                                    class="counter">{{ skill.percentage }}</span>%
                            </h4>
                            <div class="progress_br">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.percentage }}"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</section>
<!--================End Welcome Area =================-->

<!--================My Tabs Area =================-->
<section class="mytabs_area p_120">
    <div class="container">
        <div class="tabs_inner">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home" aria-selected="true">My Experiences</a>
                </li>
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"-->
                <!--                       aria-controls="profile" aria-selected="false">My Education</a>-->
                <!--                </li>-->
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <ul class="list">
                        {% for experience in experiences %}
                        <li>
                            <span></span>
                            <div class="media">
                                <div class="d-flex">
                                    <p>{{ experience.start_date|date:"M Y" }} to
                                        {% if experience.end_date %}
                                        {{ experience.end_date|date:"M Y" }}
                                        {% else %}
                                        present
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="media-body">
                                    <h4>{{ experience.company_name }}</h4>
                                    <p>{{ experience.job_title }} <br/>{{ experience.job_location}} </p>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!--================End My Tabs Area =================-->

<!--================Contact Area =================-->
<section class="contact_area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="contact_info">
                    <div class="info_item">
                        <i class="lnr lnr-home"></i>
                        <h6>Umranıye, Turkey</h6>
                    </div>
                    <div class="info_item mt-2">
                        <i class="lnr lnr-envelope"></i>
                        <h6><a href="mailto:zeynepakbalikk@gmail.com" target="_blank">zeynepakbalikk@gmail.com</a></h6>
                        <p>Fell free to send me your query anytime!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <form class="row contact_form" action="{% url 'index' %}" method="post" id="contactForm"
                      novalidate="novalidate">
                    {% csrf_token %}
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="{{ contact_form.name.id_for_label }}"
                                   name="{{ contact_form.name.html_name }}" placeholder="Enter your name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="{{ contact_form.email.id_for_label }}"
                                   name="{{ contact_form.email.html_name }}"
                                   placeholder="Enter email address">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="{{ contact_form.subject.id_for_label }}"
                                   name="{{ contact_form.subject.html_name}}"
                                   placeholder="Enter Subject">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea class="form-control" name="{{ contact_form.message.html_name}}"
                                      id="{{ contact_form.message.id_for_label }}" rows="1"
                                      placeholder="Enter Message"></textarea>
                        </div>
                    </div>
                    <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
                    <div class="col-md-12 text-right">
                        <button type="submit" value="submit" class="btn submit_btn">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!--================Contact Area =================-->

<!--================Contact Success and Error message Area =================-->
<div id="success" class="modal modal-message fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-close"></i>
                </button>
                <h2>Thank you</h2>
                <p>Your message is successfully sent...</p>
            </div>
        </div>
    </div>
</div>

<!-- Modals error -->

<div id="error" class="modal modal-message fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-close"></i>
                </button>
                <h2>Sorry !</h2>
                <p> Something went wrong </p>
            </div>
        </div>
    </div>
</div>
<!--================End Contact Success and Error message Area =================-->

{% endblock %}
{% block extra_scripts %}
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/contact.js' %}"></script>
{% endblock %}
