<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About us</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
<h1>Resume App</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi corporis doloremque dolorum ducimus
    eaque laborum pariatur quae quam quasi quos repellendus sint soluta, voluptas voluptates!
    Ipsa iusto repudiandae ullam.</span>
    <span>Aliquam aperiam at commodi consequatur ducimus labore nisi porro quia repellendus sequi ullam,
        voluptate voluptatibus! A aliquam aliquid consequatur eaque ex nulla praesentium rerum sequi voluptatem!
        Animi aut quis sapiente.</span><span>Deleniti dicta distinctio eos, facilis illo inventore ipsum itaque,
        libero molestias nulla obcaecati quia ratione rem unde velit. A aut cumque exercitationem in inventore,
        ipsam ipsum minima nostrum officiis sunt.</span><span>At consequuntur, illum. Aliquam delectus dicta enim et
        eveniet exercitationem expedita maxime nihil, odio officia,
        pariatur perferendis perspiciatis quae sed similique voluptatem voluptates.
        Accusamus dignissimos dolorum earum sapiente sed! Dolorum.</span>
    <span>Aspernatur assumenda
        autem debitis enim, esse impedit iure laudantium minus obcaecati pariatur qui recusandae?
        A assumenda dolore inventore libero, molestias, nihil optio quod tempora ullam ut velit voluptas voluptate!
        Quod!
    </span>
    <br>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur excepturi in incidunt nostrum soluta.
    Ad alias aperiam debitis delectus eaque enim eveniet laborum, laudantium placeat quae quisquam ratione sint
    veniam!
</p>
</p>
</body>
</html>