{% extends 'layout.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-3">
                RESUME APP
            </h1>
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias deserunt incidunt natus placeat
                porro, possimus repellat. A ab, accusamus asperiores, commodi dicta ea earum iste maiores praesentium
                reiciendis sit tenetur.</span><span>Fuga iste officia quasi tempore voluptatibus? Aut consequuntur
                delectus molestias qui quia. Doloribus eos est nisi quisquam! A ex itaque molestiae numquam obcaecati,
                placeat, praesentium quia, quis quisquam rerum veniam?</span><span>Ab, delectus, dolorem earum eligendi
                facilis itaque, molestiae nisi odio quas sed suscipit vero voluptates voluptatum. Atque blanditiis
                dolore eaque ex incidunt, ipsam labore molestiae pariatur quae, quidem saepe vitae!</span><span>
                Eum explicabo illum rerum. Consectetur est, eveniet excepturi labore perspiciatis ratione similique?
                Architecto atque aut, dolor dolorum eligendi, fuga fugit illum ipsa iusto magni mollitia nisi quas quos
                vero voluptatibus?</span><span>At beatae eaque est exercitationem, facere impedit iure nesciunt non
                omnis provident quae quas quibusdam, quisquam reprehenderit rerum suscipit tempore ullam voluptates!
                Commodi consequatur earum iure maxime necessitatibus nemo non.</span><span>A culpa cumque, dicta facilis
                ipsa, itaque minus natus nihil pariatur sunt temporibus velit! A aperiam, asperiores dicta dolores fugiat
                ipsum itaque natus nesciunt, quam quasi, ratione repellendus rerum sint.</span><span>Beatae blanditiis
                ea id iure laboriosam laudantium officia qui quibusdam sequi temporibus? Consectetur dolor ea numquam
                pariatur quaerat, sunt veritatis. Alias architecto atque cumque deserunt iure nesciunt nostrum recusandae
                sunt?</span><span>A debitis in molestias numquam possimus quidem quo reiciendis similique vero! A
                accusamus autem cum eos expedita impedit, laboriosam non nulla odit possimus quos repudiandae sint ut.
                Natus, quibusdam quos!</span><span>Eveniet fuga perferendis quae quibusdam quidem tenetur. Aliquid
                dignissimos eius ipsum magni nemo quo rerum temporibus. At beatae consequuntur cupiditate dicta eos
                harum, incidunt iure necessitatibus similique, ullam veritatis voluptatem.</span><span>Ab assumenda
                culpa illum libero maiores nostrum officiis quasi quod!Consequuntur debitis dolorum eaque eos illum
                ipsum iure, laboriosam magnam magni nesciunt nobis optio placeat provident quod recusandae tempore
                voluptates!</span>
            </p>
        </div>
    </div>

{% endblock %}
