<!doctype html>
<html lang="en">
<!--included header to contact page-->
{% include 'includes/header.html' %}
<body>

<!--================Header Menu Area =================-->
{% include 'includes/navbar.html' %}
<!--================Header Menu Area =================-->


<!--================Home Banner Area =================-->

{% block banner_area %}
{% endblock %}

{% block content %}

{% endblock %}

<!--included footer to index page-->
{% include 'includes/footer.html' %}

<!--for extra jss files in  contact html-->
{% block extra_scripts %}
{% endblock %}

</body>
</html>